---
import "photoswipe/style.css";

const GALLERY_IMAGES = [];
---

<article
  class="grid sm:grid-cols-2 md:grid-cols-3 w-full max-w-screen-lg mx-auto gap-6 py-20 px-4"
  id="gallery"
>
  {
    Array.from({ length: 6 }).map((_, i) => (
      <a
        class="rounded-xl shadow-2xl shadow-black/10 hover:shadow-2xl hover:shadow-black/75 hover:scale-105 transition-all duration-300 ease-in-out overflow-hidden"
        href={`/images/gallery/img-${i + 1}.webp`}
        target="_blank"
      >
        <img
          class="aspect-3/4 object-cover w-full"
          loading="lazy"
          src={`/images/gallery/img-${i + 1}.webp`}
          alt="Image"
        />
      </a>
    ))
  }
</article>

<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";

  const lightbox = new PhotoSwipeLightbox({
    gallery: "#gallery",
    children: "a",
    pswpModule: () => import("photoswipe"),
  });

  lightbox.init();
</script>
