---
import "photoswipe/style.css";

const GALLERY_IMAGES = [];
---

<article
  class="grid sm:grid-cols-2 md:grid-cols-3 w-full max-w-screen-lg mx-auto gap-4 sm:gap-6 md:gap-8 py-20 px-4"
  id="gallery"
>
  {
    Array.from({ length: 6 }).map((_, i) => (
      <a
        class="group rounded-xl hover:scale-105 transition-transform relative"
        href={`/images/gallery/img-${i + 1}.webp`}
        target="_blank"
      >
        <img
          class="blur-lg absolute inset-0 transition group-hover:contrast-150 opacity-70 -z-10 rounded-xl aspect-3/4 object-cover"
          loading="lazy"
          src={`/images/gallery/img-${i + 1}.webp`}
          alt="Image"
        />
        <img
          class="rounded-xl aspect-3/4 object-cover"
          loading="lazy"
          src={`/images/gallery/img-${i + 1}.webp`}
          alt="Image"
        />
      </a>
    ))
  }
</article>

<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";

  const lightbox = new PhotoSwipeLightbox({
    gallery: "#gallery",
    children: "a",
    pswpModule: () => import("photoswipe"),
  });

  lightbox.init();
</script>
