---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Hero from "@/sections/home/Hero.astro";
import Gallery from "@/sections/home/Gallery.astro";
import Footer from "@/sections/Footer.astro";
---

<Layout
  title="Nombre del restaurante | Eslogan"
  description="Descripción del restaurante"
>
  <Header transparent />

  <main>
    <Hero />
    <Gallery />
  </main>

  <Footer />
</Layout>
