---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/home/Hero.astro";
---

<Layout
  title="Nombre del restaurante | Inicio"
  description="Descripción del restaurante"
>
  <main>
    <Hero />
  </main>
</Layout>
