---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import BookInfo from "@/components/BookInfo.astro";
import Footer from "@/sections/Footer.astro";
---

<Layout
  title="Reservar | Nombre del Restaurante"
  description="Reserva tu mesa en Nombre del Restaurante."
>
  <Header />

  <main class="mt-20">
    <BookInfo />
  </main>

  <Footer />
</Layout>
