---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Form from "@/sections/contact/Form.astro";
import Footer from "@/sections/Footer.astro";
---

<Layout
  title="Contacto | Nombre del restaurante"
  description="Descripción del restaurante"
>
  <Header />

  <main class="mt-20">
    <Form />
  </main>

  <Footer />
</Layout>
