---
import ContactInfo from "@/components/ContactInfo.astro";
import ContactForm from "@/components/ContactForm.astro";
---

<article
  class="max-w-screen-lg min-h-screen mx-auto px-4 py-8 flex items-center justify-center flex-col"
>
  <section class="grid gap-16 sm:grid-cols-2 sm:gap-8 w-full">
    <ContactInfo />
    <ContactForm />
  </section>
</article>
