---
import RateForm from "@/components/RateForm.astro";
---

<article
  class="max-w-screen-md min-h-screen mx-auto px-4 py-8 flex items-center justify-center flex-col"
>
  <section class="w-full">
    <h1 class="text-3xl font-bold text-gray-800">Crear reseña</h1>
    <p class="text-gray-600">Tu opinión es muy importante para nosotros</p>
  </section>
  <section class="mt-8 w-full">
    <RateForm />
  </section>
</article>
