---
import { ViewTransitions } from "astro:transitions";
import "@fontsource-variable/onest";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={Astro.generator} />
    <meta name="canonical" content={Astro.url} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <slot />
  </body><style is:global>
    @keyframes header-blur {
      to {
        box-shadow:
          0 5px 50px -5px rgb(0 0 0 / 30%),
          0 0 0 1px rgb(0 0 0 / 30%);
        background-color: #fff;
        color: #000;
        backdrop-filter: blur(10px);
      }
    }
    @keyframes nav-blur {
      to {
        text-shadow: none;
      }
    }

    html {
      font-family: "Onest Variable", system-ui, sans-serif;
      scroll-behavior: smooth;
      scrollbar-gutter: stable;
    }

    #top-header {
      animation: header-blur linear both;
    }

    @media screen and (min-width: 768px) {
      #header-menu a {
        animation: nav-blur linear both;
      }
    }

    #top-header,
    #header-menu a {
      animation-timeline: scroll();
      animation-range: 0 200px;
    }

    .text-shadow {
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    }
  </style>
</html>
