---
import "@fontsource-variable/onest";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={Astro.generator} />
    <meta name="canonical" content={Astro.url} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @keyframes blur {
    to {
      box-shadow:
        0 5px 50px -5px rgb(0 0 0 / 30%),
        0 0 0 1px rgb(0 0 0 / 30%);
      background-color: #fff;
      color: #000;
      backdrop-filter: blur(10px);
    }
  }

  html {
    font-family: "Onest Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
  }

  #header-nav {
    animation: blur linear both;
    animation-timeline: scroll();
    animation-range: 0 200px;
  }
</style>
